<word>
    <span each={item in props.data} class="{ item.char === ' ' ? 'space' : null }">{ item.show ? item.char : '' }</span>

    <script>
        import './word.scss'
        export default {}
    </script>
</word>